/*FLOAT FOOTER NAV*/
#up-footer-nav-float{
    position: fixed;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
	margin: 0 33.3% auto;
}

.up-navbar {
    height: 60px;
    min-width: 500px;
    margin: 0 auto;
    box-sizing: border-box;
    display: block;
    border-radius: 50px;
    background-color: rgba(34, 34, 34, .8);
    display: flex;
    align-items: center;
    justify-content: left;
    z-index: 2;
    bottom: 20px;
  }
  
  .up-navbar .up-logo {
    margin: 5px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(34, 34, 34, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
  }
  
  .up-navbar .up-logo a {
    text-decoration: none;
    color: white;
  }
  
  .up-navbar ul {
    height: 50px;
    list-style: none;
    margin: 5px 5px 5px 0;
    padding: 0 2.5px 0 2.5px;
    background-color: #3e3e3e;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .up-navbar ul li {
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .up-navbar ul li a {
    padding: 0.25em 1em 0.25em 1em;
    color: #a7a7a7;
    text-decoration: none;
    font-weight: 400;
    border-radius: 9px;
    font-size:.8em;
    margin: 2.5px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .up-navbar a:hover {
    color: #777;
    transition-duration: 0.3s;
  }
/*END FLOAT FOOTER NAV*/