/*HOME*/
.ast-container{
	padding:0;
}
/*-----scroll 100vh----*/
.scroll-container {
  height: 100vh;
 
  position: relative;
}
.scroll-container::-webkit-scrollbar {
 display: none;
}

.scroll-item {
  height: 100vh;
  scroll-snap-align: center;
}

/* Other styles */
.scroll-item {
  display: flex;
  align-items: center;
  justify-content: center;
	flex-direction:column;
 
}
.scroll-item:nth-child(1n) {
  background-color: rgb(244, 240, 234);

	
}
.scroll-item:nth-child(2n) {
  background-color: white;

}

.scroll-item:nth-child(3n) {
  background-color: rgba(0,0,0,1);

}

/*------end scroll vh ------*/

/*------ upfirst------*/
.up-first{
	color: #000000;
}
.homeTitle{
  font-size: 5em;
  font-weight: 900;
}
.homeSubtitle{
	font-size:2rem;
	text-align:center;
	color: #86868b;
}
@media (max-width: 600px) {
 	.upLeft{
		height:65vh;
		position:absolute;
		z-index:9;
		background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 40%, rgba(255,255,255,.9) 55%, rgba(255,255,255,0) 100%);
	}
}

/*--upfirst slider--*/
.grid {
  display: flex;
  justify-content: center;
  gap: 3vmin;
  transition: 0.3s;

}

.slider {
  height: 100vh;
  overflow: hidden;
}
.slider-items {
  display: flex;
  flex-direction: column;
  gap: 3vmin;
  padding-top: 3vmin;
  animation-name: scroll;
  animation-duration: 30s;
  animation-duration: calc(30s + var(--slow));
  animation-delay: var(--delay);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.item {
  position:relative;
  transition: all .3s ease-in-out;


}
.item img{
	  border-radius:20px;
}
.item a{
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
.item:hover{
  transform: scale(0.9);
}
@keyframes scroll {
  100% {
    transform: translateY(-100%);
  }
}
@media (hover: hover) {
  .slider:hover .slider-items {
    animation-play-state: paused;
  }
}


@media (max-width: 600px) {
  .hidden-m {
    display: none;
  }
}
/* -- upfirst slider end -- */



/*-----up first end -----*/
.up-second{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
	background-color: white;
}
.up-one-animation{
  color: #333;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 600px;
}

.up-one-animation span {
  font-size: 50px;
  margin-left: 175px;
}

.message {

  color: #333;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 270px;
  animation: openclose 5s ease-in-out infinite;
  
}
.word1, .word2, .word3{
  
  border-radius: 10px;
	color:black;
}



@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 230px;
  }
  30% {
    top: 0.2rem;
    width: 230px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -4.5rem;
    
  }
  48% {
    top: -4.5rem;
    width: 210px;
  }
  62% {
    top: -4.5rem;
    width: 210px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 180px;
  }
  95% {
    top: -9rem;
    width: 180px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}

/*---up-third---*/
.up-third{
	color:white;
}
.sectionDark{
	color:white;
}
.up-third .container{
	z-index:1;
}

#agilityVideo{
	position: absolute;
  min-width: 100%; 
  height: 100vh;
	object-fit:cover;
	z-index:0;
}
.up-third .overlay{
	background-color:rgba(0,0,0, .3);
	width:100%;
	height:100%;
	position:absolute;
}
/*---end-third---*/

/*---up-section-columns---*/
.up-section-columns .container{
	max-width:1000px!important;
}
.up-section-columns .homeTitle{
	text-align: left!important;
	font-size:32px;
}
.up-section-columns .homeSubtitle{
	text-align: left!important;
	font-size: 21px;
	font-weight: bold!important;
}
/*---end up-section-coumns---*/

/*---up-four---*/
.up-four{
	color:white!important;
	background-image: url('http://temporal.upcofly.com/wp-content/uploads/2023/06/authenticity1920.png');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}
.up-four .container{
	z-index:1;
}

#agilityVideo{
	position: absolute;
  min-width: 100%; 
  height: 100vh;
	object-fit:cover;
	z-index:0;
}
.up-four .overlay{
	background-color:rgba(0,0,0, .3);
	width:100%;
	height:100%;
	position:absolute;
}
/*---end-four---*/
/*END HOME*/