/*HOME*/
.ast-container{
	padding:0;
}

/*Welcome animation*/
.up-welcome{
	max-width: 1446px;
	margin: auto max(44px,(100vw - 1446px)/2);
	padding: 24px 0;
	display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: start;
	height:100%;
}
.up-welcome p{
	font-size: 110px;
	line-height: 110px;
	font-weight: bolder;
}
.quotes {display: none;color:grey;}
.up-call{
	width:100%;
	padding-top:50px;
	display:flex;
	justify-content:start;
	
}
.up-call a{
	background: #0241e7;
	color:white;
	padding:20px;
	border-radius:50px;
	font-weight:bolder;
}
@media (max-width:1024px){
	.up-welcome p{
	font-size: 50px;
	line-height: 50px;
	font-weight: bolder;
}
	.up-welcome{
		margin: auto max(20px,(100vw - 1446px)/2);}
}
@media (max-width:600px){
	.up-welcome p{
	font-size: 40px;
	line-height: 40px;
	font-weight: bolder;
}
	.up-welcome{
		margin: auto max(20px,(100vw - 1446px)/2);}
}
/*end welcome animation*/

/*-----scroll 100vh----*/
.scroll-container{
	background:white;
}
.scroll-item {
	position:relative;

}

/* Other styles */
.scroll-item {
  display: flex;
  align-items: center;
  justify-content: center;
	flex-direction:column;
 
}
.scroll-item:nth-child(1n) {
  background-color:#000;
	border-radius: 30px;

	
}
.scroll-item:nth-child(2n) {

  background-color: rgba(255,255,255,1);

}

.scroll-item:nth-child(3n) {
  background-color: #F8F9FB;

}
.scroll-item:nth-child(4n) {
  background-color: rgba(255,255,255,1);

}
.scroll-item:nth-child(5n) {
  background-color: rgba(255,255,255,1);

}
/*------end scroll vh ------*/

/*------ upfirst------*/
.up-first{
	height:91vh;
	color: #ffffff;
	margin:30px;
}
.homeTitle{
  font-size: 42px;
  font-weight: bolder;
}
.homeSubtitle{
	font-size:28px;
	color: #5f6368;
}
.homeText{
	font-size:18px;
	color: #5f6368;
	width:50%;
	margin:0 auto;
}
@media (max-width: 600px) {

 	.upLeft{
		height:65vh;
		position:absolute;
		z-index:9;
		background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 40%, rgba(255,255,255,.9) 55%, rgba(255,255,255,0) 100%);
	}
}

/*--upfirst slider--*/
.grid {
  display: flex;
  justify-content: center;
  gap: 3vmin;
  transition: 0.3s;

}

.slider {
  height: 100vh;
  overflow: hidden;
}
.slider-items {
  display: flex;
  flex-direction: column;
  gap: 3vmin;
  padding-top: 3vmin;
  animation-name: scroll;
  animation-duration: 30s;
  animation-duration: calc(30s + var(--slow));
  animation-delay: var(--delay);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.item {
  position:relative;
  transition: all .3s ease-in-out;


}
.item img{
	  border-radius:20px;
}
.item a{
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
.item:hover{
  transform: scale(0.9);
}
@keyframes scroll {
  100% {
    transform: translateY(-100%);
  }
}
@media (hover: hover) {
  .slider:hover .slider-items {
    animation-play-state: paused;
  }
}


@media (max-width: 600px) {
  .hidden-m {
    display: none;
  }
}
/* -- upfirst slider end -- */

@media (max-width:747px){
	.up-first{
		margin:15px;
	}
}

/*-----up first end -----*/

/*---up second---*/

.up-second{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
		background-color: #F8F9FB;
	margin:30px;
	
}
.quotesOne{
	display:none;
	color:grey;
}
.up-one-animation{
		max-width: 1446px;
	padding: 24px 0;
	display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: start;
	text-align:center;
}
.up-one-animation p{
	font-size: 110px;
	line-height: 110px;
	font-weight: bolder;
	text-align:center;
}
@media (max-width:747px){
	.up-one-animation p{
		font-size:40px;
		line-height:40px;
	}
}
.quotesOne{
	display:none;
}
.gradientOne{
		background: linear-gradient(to right, #1723CF 0%, #110D38 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.gradientTwo{
	background: linear-gradient(to right, #FFED47 0%, #DB8C25 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.gradientThree{
background: linear-gradient(to right, #AF0FFF 0%, #250C38 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.message {

  color: #333;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 270px;
  animation: openclose 5s ease-in-out infinite;
  
}
.word1, .word2, .word3{
  
  border-radius: 10px;
	color:black;
}



@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 230px;
  }
  30% {
    top: 0.2rem;
    width: 230px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -4.5rem;
    
  }
  48% {
    top: -4.5rem;
    width: 210px;
  }
  62% {
    top: -4.5rem;
    width: 210px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 180px;
  }
  95% {
    top: -9rem;
    width: 180px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}

/*---up-third---*/
.up-third{
	height:91vh;
	color:black;
	margin:30px;
}
.up-third .homeSubtitle{
	font-size:21px;
}
.sectionDark{
	color:white;
}
.up-third .container{
	z-index:1;
}

#agilityVideo{
	position: absolute;
  min-width: 100%; 
  height: 100vh;
	object-fit:cover;
	z-index:0;
}
.up-third .overlay{
	background-color:rgba(0,0,0, .3);
	width:100%;
	height:100%;
	position:absolute;
}

@media (max-width:747px){
	.up-third{
		margin:15px;
	}
}

/*---end-third---*/

/*---up-section-columns---*/
.up-section-columns{
	margin: 80px 60px 80px 60px;
}
.up-section-columns .container{
	max-width:1000px!important;
}
.up-section-columns .homeTitle{
	text-align: left!important;
	font-size:32px;
}
.up-section-columns .homeSubtitle{
	text-align: left!important;
	font-size: 21px;
}
.up-section-columns article{
	width: 33%;
	border-radius:20px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	padding:30px;
	height:35vh;
}
.up-section-columns article p{
	font-size:.8em;
}
@media (max-width:747px){
	.up-section-columns article{
		width:100%;
	}
	.up-section-columns{
		margin: 80px 30px 80px 30px;
	}
}
/*---end up-section-coumns---*/

/*---up-four---*/
.up-four{
  display: flex;
  align-items: center;
  justify-content: center;
		background-color: #F8F9FB;
	margin:0 30px 0 30px;
	
}
.up-four article{
	width: 30%!important;
  margin: 30px;
	border-radius:20px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	padding:30px;
	height:50vh;
}

.up-four .card{
	width:624px;
  max-width:624px;
  height:auto;
  border:none;
  position:relative;
  z-index:2;
}


.up-four .card .profile{
  width:100%;
  height:350px;
  position:relative;
  border-top-right-radius:10px;
  border-top-left-radius:10px;
  overflow:hidden;
  cursor:grabbing;
  animation:zoom 8s linear infinite;
}


@keyframes zoom{
  0%,100%{
   background-size:100%;
  }
  
  
  50%{
    background-size:120%;
  }
}



.card .profile:after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  width:100%;
  height:100%;
  border-top-right-radius:10px;
  border-top-left-radius:10px;
}


.up-four .card .profile span{
  position:absolute;
  bottom:50px;
  left:50%;
  transform:translate(-50%,0);
  text-align:center;
  color:#eee;
  z-index:1;
	width:100%;
}

.up-four .card .profile span .tag{
  font-size:.90em;
	width:100%!important;
}


.up-four .card .fa-check{
  position:absolute;
  top:-25px;
  left:50%;
  z-index:1;
  transform:translate(-50%,0);
  background-image: linear-gradient(-125deg, #FF5C8D,#FF3322);
  box-shadow:0 5px 15px #FF3322;
  color:#eee;
  width:50px;
  height:50px;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:1.5em;
  font-weight:700;
  cursor:pointer;
}


.up-four .card .fa-angle-right{
  position:absolute;
  top:50%;
  right:42%;
  z-index:1;
  width:35px;
  height:35px;
  background:#fff;
  color:#000;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:.9em;
  font-weight:700;
  cursor:pointer;
	border: 1px solid #cdcdcd;
}


.up-four .card .fa-angle-left{
  position:absolute;
  top:50%;
  left:42%;
  z-index:1;
  width:35px;
  height:35px;
  background:#fff;
  color:#000;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:.9em;
  font-weight:700;
  cursor:pointer;
	border: 1px solid #cdcdcd;
}


.up-four .card .card-photo{
  background:#fff;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:45px 40px;
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
  position:relative;
}


.up-four .card .card-photo div{
  text-align:center;
}

.up-four .card .card-photo div p{
	width:200px;
  height:350px;
	background:url('');
  background-size:cover;
  background-position:center;
	background-repeat: no-repeat;
  font-size:1.2em;
  font-weight:700;
  color:#000;
	
	transform: translate(-180%, -150%);
	opacity: 0;
   -webkit-animation: fading 4s cubic-bezier(0.6, 0.2, 0.4, 0.8) forwards;
  animation: fading 4s cubic-bezier(0.6, 0.2, 0.4, 0.8) forwards;
}

.up-four .card .card-photo div .photoOne{
	transform: translate(-180%, -150%);
}
.photoOneAnimation{
	opacity: 0;
   -webkit-animation: fading 4s cubic-bezier(0.6, 0.2, 0.4, 0.8) forwards;
  animation: fading 4s cubic-bezier(0.6, 0.2, 0.4, 0.8) forwards;
}

.up-four .card .card-photo div .photoTwo{
	transform: translateX(-180%);
}
.photoTwoAnimation{
		opacity: 0;
	 -webkit-animation: fading 4s cubic-bezier(0.6, 0.2, 0.4, 0.8) 0.5s forwards;
  animation: fading 4s cubic-bezier(0.6, 0.2, 0.4, 0.8)  0.5s forwards;
}

.up-four .card .card-photo div .photoThree{
transform: translateX(150%);
}
.photoThreeAnimation{
	opacity: 0;
  -webkit-animation: fading 4s cubic-bezier(0.6, 0.2, 0.4, 0.8) 1s forwards;
  animation: fading 4s cubic-bezier(0.6, 0.2, 0.4, 0.8) 1s forwards;
}

.up-four .card .card-photo div .photoFour{
	transform: translate(60%, -130%);
}
.photoFourAnimation{
	opacity: 0;
  margin-right: 0;
   -webkit-animation: fading 4s cubic-bezier(0.6, 0.2, 0.4, 0.8) 1.5s forwards;
  animation: fading 4s cubic-bezier(0.6, 0.2, 0.4, 0.8) 1.5s forwards;
}

@-webkit-keyframes fading {
  0% {
    -webkit-filter: blur(10px);
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes fading {
  0% {
    -webkit-filter: blur(10px);
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}


/*---end-four---*/

 /* Estilos CSS para el grid */
        #image-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
        }

        /* Estilo para las imágenes */
        .grid-item {
            width: 100%;
            height: auto;
			transition: opacity 0.5s ease;
        }
.fade-out {
            opacity: 0;
            transition: opacity 0.5s ease;
        }


/*---logos clients---*/

.sliderLogos {
  
    height: 250px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 1140px;
}

.sliderLogos::before, .sliderLogos::after {
    background: linear-gradient(to right, rgb(15, 23, 42) 0%, rgba(15, 23, 42, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 100px;
    z-index: 2;
}

.sliderLogos::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.sliderLogos::before {
    left: 0;
    top: 0;
}

.sliderLogos .slide-track {
    animation: scroll 80s linear infinite;
    display: flex;
    width: calc(250px * 18);

}

.sliderLogos .slide-track:hover {
    animation-play-state: paused;
}

.sliderLogos .slide {
    width:220px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.sliderLogos .slide img{
	padding:30px 40px 30px 40px;		
	height:120px;
}



@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}
/*---end logos clients---*/





/*END HOME*/