.landing {
	  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 3.5rem 0rem;
	background-color:white;
}
.landing img {
  max-width: 100%;
}
.height-100 {
	 height: 100%;
}
 .width-auto {
	 width: auto;
}
 .object-fit-contain {
	 object-fit: contain;
}
 .container {
	 width: 100%;
	 max-width: 90%;
	 margin: 0 auto;
}
 .content {
	 height: 100%;
	 background: #f5f5f7;
	 width: 100%;
	 display: block;
}
 .d-flex {
	 display: flex;
	 align-items: end;
}
 .title {
	 font-size: 2.5rem;
	 font-weight: 600;
	 flex-grow: 1;
}
 .title h3 {
	 line-height: 3.2rem;
}
 .mb-2 {
	 margin-bottom: 2rem;
}
 .showcase {
	 position: relative;
}
 .showcase .showcase-container {
	 width: 100%;
	 max-width: 90%;
	 margin: 0 auto;
	 display: flex;
}
 .showcase .showcase-left {
	 width: 60%;
	 padding: 0 1rem;
}
 .showcase .showcase-right {
	 width: 60%;
	 padding: 0 1rem;
}
 .carousel-indicator {
	 display: flex;
}
 .carousel-indicator .carousel-indicator__button {
	 width: 30px;
	 height: 30px;
	 border-radius: 50%;
	 margin: 0rem 0.5rem;
	 cursor: pointer;
}
 .carousel-indicator .carousel-indicator--active {
	 outline: 1px solid #d2d2d7;
	 outline-offset: 0.25rem;
}
 .carousel-indicator .pink {
	 background: #e4544d;
}
 .carousel-indicator .grey {
	 background-color: #3c3d3a;
}
 .carousel-indicator .blue {
	 background: #2f506c;
}
 .carousel-indicator .silver {
	 background: #f5f4f0;
}
 .carousel-indicator .green {
	 background: #e7ece3;
}
 .carousel {
	 display: flex;
	 flex-wrap: nowrap;
	 overflow: hidden;
}
 .carousel .carousel-wrapper {
	 position: relative;
	 width: 100%;
	 height: 100%;
	 z-index: 1;
	 display: flex;
	 transition-property: transform;
	 box-sizing: content-box;
	 transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
 .carousel .carousel-item {
	 flex-shrink: 0;
	 width: 100%;
	 height: 100%;
	 position: relative;
	 transition-property: transform;
	 display: block;
}
 .preview-image {
	 height: 100%;
	 display: grid;
}
 .preview-image .preview-image__items {
	 grid-area: -0.5;
	 opacity: 0;
	 transition: opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
 .preview-image .preview-image__items img {
	 display: block;
	 margin: 0 auto;
}
 .preview-image .preview-image__items.preview-image--active {
	 opacity: 1;
	 z-index: 1;
}
 