/**
Theme Name: upcofly
Author: Brainstorm Force
Author URI: http://wpastra.com/about/
Description: Astra is the fastest, fully customizable & beautiful theme suitable for blogs, personal portfolios and business websites. It is very lightweight (less than 50KB on frontend) and offers unparalleled speed. Built with SEO in mind, Astra comes with schema.org code integrated so search engines will love your site. Astra offers plenty of sidebar options and widget areas giving you a full control for customizations. Furthermore, we have included special features and templates so feel free to choose any of your favorite page builder plugin to create pages flexibly. Some of the other features: # WooCommerce Ready # Responsive # Compatible with major plugins # Translation Ready # Extendible with premium addons # Regularly updated # Designed, Developed, Maintained & Supported by Brainstorm Force. Looking for a perfect base theme? Look no further. Astra is fast, fully customizable and beautiful theme!
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: upcofly
Template: astra
*/


/*Global*/

body::-webkit-scrollbar { display: none;}
body{
	width:100%;
	overflow-x:hidden;
}
#content{
	overflow-x:hidden;
}
footer{
	z-index:9999999;
}
a{	
	text-decoration:none;
	color: auto!important;
	background-color:auto!important;

}
.ast-container{
	padding:0;
}
/*colors*/
:root{
	--color-primary:
}
.bg-primary{
	background: #24306D!important;
}
.bg-secondary{
	background: #EB7233!important;
}

/*end colors*/
/*BUTTONS*/
.buttonPrimary{
	background: #0241e7!important;
color: white!important;
padding: 15px 30px 15px 30px!important;
border-radius: 50px!important;
font-weight: normal!important;
	border:none!important;
	font-size:.8em!important;
}
.animationButton, a.animationButton{
	color:#000;
	border-radius:20px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	 font-size: 1em;
	text-align:left;
	font-weight:normal;
	 background-color: #F2F5F7!important;
	background: #F2F5F7!important;
		transition:all ease .3s;
	margin: .5em 0 .5em 0;
	width:100%;
	padding-top: 20px;
padding-right: 40px;
padding-bottom: 20px;
padding-left: 40px;
}
.animationButton:hover svg, a.animationButton:hover svg{
	transition:all ease .3s;
	transform: rotate(45deg);
	background:#fff;
	border-radius:100%;
}

.a-close{
  position: fixed;
  top: 0;
  right: 0;
  padding: 1em;
  color: #000!important;
  background: #F2F5F7!important;
	background-color: #F2F5F7!important;
  border: 0!important;
	border-radius:100%;
width:25px;
	height:25px;
margin:1em;
	display:flex;
	justify-content:center;
	align-items:center;
	z-index:999999999;
}
.a-close svg{
	position: fixed;
  top: 0;
  right: 0;
margin:1.4em;
}
.animationButton.bg-dark{
	background-color:#000!important;
	background: #000!important;
	color:white!important;
}
.bg-dark svg{
	background:rgba(255, 255, 255);
	border-radius:100%;
	transform: rotate(45deg);
}
/*button animation + icon*/
.animated-button {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	text-decoration: none;
	overflow: hidden;
	transition: width 0.3s;
	background-color: #f8f8f8;
  }

  .animated-button .icon,
  .animated-button .text {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: opacity 0.3s;
  }

  .animated-button .icon {
	left: 10px;
  }

  .animated-button .text {
	left: 40px; /* Ajusta la distancia entre el icono y el texto */
	opacity: 0;
  }

  .animated-button:hover {
	width: 200px; /* Ajusta el ancho del botón al hacer hover */
  }

  .animated-button:hover .text {
	opacity: 1;
  }
/*End Button animation + icon*/
/*Accordion style bootstrap*/
.accordion-flush .accordion-item{
	border-radius: 20px;
	border: none;
}
.accordion-flush .accordion-item .accordion-button{
	background-color:#f8f9fa;
	border-radius: 20px;
	border: none;
}
.accordion-button{
	padding: 30px 1.25rem 30px 1.25rem;
	border: none;
	font-size: .7em;
	font-weight: 100;
}
.accordion-item{
	background-color: #f8f9fa;
	border: none;
	border-radius: 20px;
	margin: 10px 0 10px 0;
}
.accordion-button:not(.collapsed) {
    color: black;
    background-color: transparent;
    box-shadow: none;
	border: none;
}
.accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    box-shadow: none;
	border: none;
}
.accordion-button:not(.collapsed)::after {
	border: none;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button::after{
	border: none;
}
.accordion-header{
	background-color: #f8f9fa;
	border: none;
	border-radius: 20px;
	margin: 10px 0 10px 0;
}

/*End Accordion style bootstrap*/

.borderRadius{
	border-radius: 30px!important;
}

/*End global*/

/*logo animation*/
#logo{
	overflow: visible;
	fill:grey;
}
.up-logo {
  animation: logo-up 2s linear infinite;
}
.up-part.left {
  animation: logo-left 2s linear infinite;
}
.co-part{
	animation: cocos 2s linear infinite;
}
.fly-part{
	animation: fly 2s linear infinite;
}

@keyframes logo-left {
  0% { transform: translateY(-40%); }
  25% { transform: translateY(-50%); }
  30% { transform: translateY(0); }
  70% { transform: translateY(0); }
  100% { transform: translateY(-40%); }
}

@keyframes cocos {
  0% { transform: translateY(0); }
  30% { transform: translateY(0); }
  35% { transform: translateY(0); }
  40% { transform: translateX(8%); }
  100% { transform: translateY(0); }
}
@keyframes fly {
  0% { transform: translateY(0); }
  30% { transform: translateY(0); }
  35% { transform: translateY(0); }
  40% { transform: translateY(-50%); }
  100% { transform: translateX(100%); }
}

@keyframes logo-up {
  0% { transform: translateY(0); }
  30% { transform: translateY(0); }
  35% { transform: translateY(10%); }
  40% { transform: translateY(0); }
  100% { transform: translateY(0); }
}
/*end logo animation*/

/*logo color*/
.logoWhite{
	fill: white;
}
/*end logo color*/
/*Colores body*/
body.enero {
  background-image: linear-gradient(rgba(10, 117, 163, 0.9), rgba(10, 117, 163, 0.9)), url("01-fondos-calendario-enero.jpg")!important;
}

body.febrero {
  background-image: linear-gradient(rgba(10, 117, 163, 0.9), rgba(10, 117, 163, 0.9)), url("02-fondos-calendario-febrero.jpg");
}

body.marzo {
  background-image: linear-gradient(rgba(241, 243, 212, 0.9), rgba(241, 243, 212, 0.9)), url("03-fondos-calendario-marzo.jpg");
}

body.abril {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("04-fondos-calendario-abril.jpg");
}

body.mayo {
  background-image: linear-gradient(rgba(51, 176, 136, 0.9), rgba(51, 176, 136, 0.9)), url("05-fondos-calendario-mayo.jpg");
}

body.junio {
  background-image: linear-gradient(rgba(242, 213, 22, 0.9), rgba(242, 213, 22, 0.9)), url("06-fondos-calendario-junio.jpg");
}

body.julio {
  background-image: linear-gradient(rgba(229, 163, 31, 0.9), rgba(229, 163, 31, 0.9)), url("07-fondos-calendario-julio.jpg");
}

body.agosto {
  background-image: linear-gradient(rgba(252, 151, 23, 0.5), rgba(252, 151, 23, 0.5)), url("08-fondos-calendario-agosto.jpg");
}

body.septiembre {
  background-image: linear-gradient(rgba(175, 130, 82, 0.9), rgba(175, 130, 82, 0.9)), url("09-fondos-calendario-septiembre.jpg");
}

body.octubre {
  background-image: linear-gradient(rgba(99, 69, 37, 0.9), rgba(99, 69, 37, 0.9)), url("10-fondos-calendario-octubre.jpg");
}

body.noviembre {
  background-image: linear-gradient(rgba(252, 200, 144, 0.9), rgba(252, 200, 144, 0.9)), url("11-fondos-calendario-noviembre.jpg");
}

body.diciembre {
  background-image: linear-gradient(rgba(83, 151, 176, 0.9), rgba(83, 151, 176, 0.9)), url("12-fondos-calendario-diciembre.jpg");
}
/*End colores body*/


/*FLOAT FOOTER NAV*/
#up-footer-nav-float{
    position: fixed;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
	width:100%;
	transition: bottom 0.5s;
}

.up-navbar {
    min-height: 60px;
    margin: 0 auto;
    box-sizing: border-box;
    display: block;
    border-radius: 50px;
    background-color: rgba(66, 66, 69, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    bottom: 20px;
  }
  
  .up-navbar .up-logo {
    margin: 5px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(34, 34, 34, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
  }
  
  .up-navbar .up-logo a {
    text-decoration: none;
    color: white;
  }
  
  .up-navbar ul {
    min-height: 50px;
    list-style: none;
    margin: 5px 5px 5px 0;
    padding: 0 2.5px 0 2.5px;
    background-color: #3e3e3e;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .up-navbar ul li {
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .up-navbar ul li a {
    padding: 0.25em 1em 0.25em 1em;
    color: #a7a7a7;
    text-decoration: none;
    font-weight: 400;
    border-radius: 9px;
    font-size:.8em;
    margin: 2.5px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
	  cursor:pointer;
  }
  
  .up-navbar a:hover {
    color: #777;
    transition-duration: 0.3s;
  }

@media (max-width:747px){

	.brand{
		width:90%;
		display:flex;
		justify-content:space-between;
		align-items:center;
		margin:10px 0 10px 0;
		cursor:pointer;
	}
	.up-navbar{
		width:90%;
		flex-direction:column-reverse;
	}
	.up-navbar ul{
		display:none;
		opacity:0;
		flex-direction:column;
		width:100%;
		margin: 0;
		padding: 0px;
		border-radius:20px;
		transition:all ease .3s;
	}
	.open{
		transition:all ease .3s;
		opacity:1!important;
		display:flex!important;
		border-radius:20px!important;
	}
	.up-navbar ul li{
		width:95%;
		justify-content:space-between;
	}
	.up-navbar ul li a{
		width:100%;
		justify-content:space-between;
	}
	.iconPlus{
		transition: all .3s ease;
	}
	.rotate45{
		transform:rotate(45deg);
	}
}

/*modal contacto*/
.modal-contact {
    position: fixed;
    z-index: 999999999; /* 1 */
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
	display: block;
	display: flex;
justify-content: center;
align-items: center;
}

.modal-contact.is-visible {
    visibility: visible;
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal-contact.is-visible .modal-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modal-wrapper {
  position: absolute;
  z-index: 9999;
  top: 6em;

  width: 50%;

  background-color: #fff;
  box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
	border-radius:20px;
}

.modal-transition {
  transition: all 0.3s 0.12s;
  transform: translateY(-10%);
  opacity: 0;
}

.modal-contact.is-visible .modal-transition {
  transform: translateY(0);
  opacity: 1;
}

.modal-header,
.modal-content {
  padding: 2em;
}

.modal-header {
  position: relative;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:flex-start;
	border-bottom:none;


}

.modal-close{
  position: fixed;
  top: 0;
  right: 0;
  padding: 1em;
  color: #000;
  background: #ececec;
  border: 0;
	border-radius:100%;
width:25px;
	height:25px;
margin:1em;
	display:flex;
	justify-content:center;
	align-items:center;
	z-index:999999999;
}
.modal-close svg{
	position: fixed;
  top: 0;
  right: 0;
margin:1.4em;
}

.modal-heading {
  font-size: 1.5em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.modal-body{
	padding:0;
}
.modal-content{
	border:none;
	background:none;
	padding-top:0;
}

.contactProject, .contactFreelance{
	display:none;
	flex-direction:column;
	overflow-y:scroll;
}
@media (max-width:747px){
	.modal-wrapper{
		width:95%;
	}
}
/*end modal contacto*/
/*END FLOAT FOOTER NAV*/

/*Footer legal*/
.legal a{
	color: rgb(103, 118, 142);
}
/*end footer legal*/

/*switcher footer*/
.site-footer-below-section-2 .trp_language_switcher_shortcode{
	display:flex;
	justify-content:flex-end;
}
.site-footer-below-section-2 .trp_language_switcher_shortcode .trp-language-switcher > div{
	border: none;
	background-color: transparent;
	display:flex;
	align-items:center;
	width:140px!important;
	background-position: calc(100% - 20px) calc(1em + -2px),
calc(100% - 3px) calc(1em + 0px);
	padding: 4px 8px 3px 30px;
}
.site-footer-below-section-2 .trp_language_switcher_shortcode .trp-language-switcher > div > a{
	font-size: 12px;
}
.site-footer-below-section-2 .trp_language_switcher_shortcode .trp-language-switcher:hover .trp-ls-shortcode-language{
	top:-90px;
	background-color: rgba(34, 34, 34, .8);
	text-align: left;
	border-radius: 10px;
	width:140px!important;
	padding: 7px;
	
}
.site-footer-below-section-2 .trp_language_switcher_shortcode .trp-language-switcher:hover .trp-ls-shortcode-language a{
	color: white;
}
.site-footer-below-section-2 .trp_language_switcher_shortcode .trp-language-switcher > div > a:hover{
	color: grey;
	background-color: #3e3e3e;
	border-radius:10px;
	font-weight: bolder;
}
.site-footer-below-section-2 .trp_language_switcher_shortcode .trp-ls-shortcode-disabled-language{
	font-weight: bolder;
	display:inline-flex;
	justify-content:center;
	align-items:center;
}
.site-footer-below-section-2 .trp_language_switcher_shortcode .trp-ls-shortcode-disabled-language:hover{
	background-color: transparent!important;
}
@media (max-width:747px){
	.site-footer-below-section-2 .trp_language_switcher_shortcode{
	display:flex;
	justify-content:center;
}
	.trp-language-switcher{
		width:auto;
	}
}
/*end switcher footer*/

/*Formulario*/
label{
	font-size:.8em;
	width:100%;
}
input, textarea{
	background-color:transparent!important;
	border:none!important;
	border-bottom:1px solid!important;

}
textarea{
	height:100px;
}
.wpcf7 .wpcf7-form-control-wrap{
	width:auto;
}
/*End formulario*/

/*CARDS OVERLAY CUUADRADA*/
.card {
    position: relative;
}

.card-img-container {
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;
}

.card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	object-fit: cover;
}

/*END CARDS OVERLAY CUADRADA*/
